.roof-section{
    position: absolute;
    max-width: none;
    color: white;
    z-index: 1050;
}

.roof-section h1, h3, a{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.btn{
    background-color: #B01F22
}
