html {
  scroll-behavior: smooth;
}

.navbar-nav .dropdown-menu .dropdown-item::after {
    display: none;
    z-index: 1050;
  }

  .navbar-nav .nav-item {
    display: flex;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 530;
    font-size: 18px;
  }

  .navbar-nav .nav-item a{
    color: #fff;
    font-size: auto;
  }

.navbar {
    padding: 1rem; /* Increase the padding to make the navbar thicker */
    height: 80px; 
    position: absolute;
    z-index: 5000;
  }

  .navbar-nav .nav-item .nav-link {
    padding: 0.5rem 1rem; /* Increase padding for thicker appearance */
  }
  
  